<h1> Create a new dose </h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.order(:name), prompt: "Choose an ingredient" %>
  <%= f.submit "Create a dose", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to the cocktail', cocktail_path(@cocktail) %>
