 <div class="banner background_show">
    <div class="add-banner">
        <h1>Add a dose</h1>
    </div>
</div>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.order(:name), prompt: "Choose an ingredient" %>
  <%= f.submit "Create a dose", class: "btn btn-primary" %>
<% end %>


<div class="btn">
    <div class="btn-add">
      <%= link_to cocktail_path(@cocktail) do %>
        <i class="fas fa-undo"></i> Back to the Cocktail
      <% end %>
    </div>
</div>
