<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Roboto');
    </style>
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <style>
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
</style>
  </head>

  <body>
    <%= render 'partials/navbar', cocktail: @cocktail %>
    <%= yield %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
